# Temporary files and OS-specific files
*.swp
*.*~
.DS_Store
*.pyc

# NuGet
nupkg/
project.lock.json

# IDE-specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Configuration files
appsettings.Development.json
!appsettings.Development.json.example

# Node.js-related files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker-related files
*.env
docker-compose.override.yml