{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*",
    "BotConfiguration": {
        "BotToken": "<BOT_TOKEN>",
        "BotWebhookUrl": "<APP_URL>/api/bot"
    },
    "ConnectionStrings": {
        "TelegramBotDatabase": "Server=<DATABASE_HOST>;Port=<DATABASE_PORT>;Database=<DATABASE_NAME>;Username=<DATABASE_USERNAME>;Password=<DATABASE_PASSWORD>"
    }
}
